<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Products to <%= farm.name %></title>
</head>

<body>
    <form action="/farms/<%= farm._id %>/products" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <label for="category">Category</label>
        <select name="category" id="category">
            <% for(let c of categories) {%>
            <option value="<%= c %>"><%= c %> </option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
    <a href="/products">Cancel</a>
</body>

</html>